@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --primary: #0a4d68;
  --secondary: #176b87;
  --iconPrimary: #05bfdb;
  --iconSecondary: #ffffff;
  --accent: #333333;
}

body {
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background-color: var(--accent);
  color: white;
  padding: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 8vh;
  margin-bottom: 5vh;
}

.header .logo {
  width: 40px;
}

.dashboard {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
  height: 85vh;
  width: 95vw;
  grid-template-rows: 20% 1fr 25%;
  row-gap: 5px;
}

.motorSwitch,
.measurement,
.pir {
  border: 1px white solid;
  background-color: var(--secondary);
  border-radius: 5px;
}
.motorSwitch {
  border: 1px white solid;
  background-color: var(--secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  color: white;
}

.measurement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60% 1fr;
  grid-template-areas:
    " soil-moisture temperature"
    "humidity humidity";
  color: var(--iconSecondary);
}

.measurement .humidity {
  grid-area: humidity;
}

.measurement .temperature {
  grid-area: temperature;
}

.measurement .soil-moisture {
  grid-area: soil-moisture;
}

.pir {
}

.motorBtn {
  position: relative;
  width: 75px;
  height: 40px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.1);
}

.motorCheckbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
}
.motorCircle {
  position: absolute;
  left: 28%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #05bfdb;
  display: flex;
  align-items: center;
  padding: 1px;
}

.motorText {
  position: absolute;
  right: 10%;
  /* left: 0; */
  color: #05bfdb;
  font-weight: 600;
}

/* Humidity Styles*/

.humidity {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--iconSecondary);
}

.humidity-wrapper {
  position: relative;
  width: 100px;
  height: 150px;
  background-color: rgba(5, 191, 219, 0.5);
  /* clip-path: path(
    "M46.4947 16.7076C50.7999 13.1201 55.2771 9.74423 59.9104 6.59183C60.0603 6.49241 60.4406 6.28409 60.9298 6.01108C61.7063 5.57867 62.3738 5.19992 62.9451 4.86378C62.8425 9.57606 63.3238 14.7239 64.4017 20.4856C66.297 30.6235 70.7552 39.0902 75.477 48.0555L76.9289 50.8188C79.528 55.7899 82.0625 61.075 82.0625 66.2812C82.0625 83.6848 67.9036 97.8437 50.5 97.8437C33.0964 97.8437 18.9375 83.6848 18.9375 66.2812C18.9375 42.3553 38.2096 23.6419 46.4947 16.7076Z"
  ); */
  border-radius: 5px;
  border: 2px white solid;
  overflow: hidden;
}

.humidity-fill {
  width: 100%;
  height: 0%;
  background-color: #05bfdb;
  position: absolute;
  bottom: 0;
}

.humidity-text {
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.liquid {
  position: absolute;
  bottom: 100%;
  /* border: 1px green solid; */
}

.wave {
  -webkit-animation-name: wave-action;
  animation-name: wave-action;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  width: 70px;
  height: 100%;
  fill: #05bfdb;
}
@-webkit-keyframes wave-action {
  0% {
    -webkit-transform: translate(-150px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}
@keyframes wave-action {
  0% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/**/

@media all and (max-height: 332px) {
  .onscreen {
    top: 11px;
  }
}

/**/

/* Animating the top property in Microsoft Edge does not work so prevent animating it */
_:-ms-lang(x),
_:-webkit-full-screen,
.individual-bubble {
  top: inherit !important;
}

/* Temperature Style */
.temperature-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}
.tempPointer {
  transform: translateX(-35px);
}
.tempText {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Soil Moisture Style */
.soil-moisture-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.soilText {
  position: absolute;
  top: -15%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-size: 1.1rem;
  font-weight: 600;
}

/* PIR Style*/

.pirBtn {
  position: relative;
  width: 75px;
  height: 40px;
  background-color: white;
}

.pirCheckbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
}

.pirSquare {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 50%;
  background-color: var(--iconPrimary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.pir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pirSwitch {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pirIndicator {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  color: var(--iconSecondary);
  font-weight: 500;
}
.pirIndicator .pirMotionImg {
  width: 95px;
}

/*Utility Class*/
.smoother {
  transition: 0.5s ease all;
}
.motionSmoother {
  transition: opacity 0.5s ease-in-out;
  /* You can adjust the duration and timing function as needed */
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    height: 85vh;
    width: 70vw;
    grid-template-rows: 20% 1fr 25%;
    row-gap: 5px;
  }
}
